@font-face {
    font-family: "Hack";
    src: url("./font/hack.woff2");
}

:root {
    color-scheme: light;  /* default */

    & #sun { 
        display: none; 
    };
    & #moon { 
        display: block; 
    }
    & .star {
        display: none;
    }
}

:root.dark {
    color-scheme: dark;

    & #sun { 
        display: block; 
    }
    & #moon { 
        display: none; 
    }
    & .star {
        display: block;
    }
}

body {
    font-family: "Hack", monospace;
    background-color: light-dark(#e8f4fd, #0C090A);
    color: light-dark(#182c4b, #e8f4fd);
}

.container {
    max-width: 600px;
    margin: 0 auto; 
}

a:link, a:visited {
    color: light-dark(#182c4b, #e8f4fd);
    background-color: transparent;
}

#about-header {
    display: flex;
    justify-content: space-between;
}

#toggle {
    margin-top: 13px;
    width: 40px;
    height: 40px;
    background-color: light-dark(#e8f4fd, #0C090A);
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

#toggle:hover {
    background-color: light-dark(#cae1f7, #354e74)
}

.star {
    position: absolute; /* Need this for z index to work */
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%; /* Make stars round */
    opacity: 0; /* Make stars invisible initially*/
    animation: shimmer infinite ease-in-out;
    z-index: -1;
}

@keyframes shimmer {
    0%, 100% { 
        opacity: 0; 
    }
    50% { 
        opacity: 1; 
    }
}